<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="css/scent-matcher/scent-matcher.css">
    <link rel="stylesheet" href="css/scent-matcher/quetion-page1.css">
    <link rel="stylesheet" href="css/scent-matcher/quetion-page2.css">
    <link rel="stylesheet" href="css/scent-matcher/quetion-page3.css">
</head>
<body>
   <% if (!showPage4) { %>
    <%- include('partials/header.ejs') %>
  <% } %>

  <main>
    <% if (showPage1) { %>
      <%- include('partials/scentmatcher-section/quetion-page1.ejs') %>
    <% } else if (showPage2) { %>
      <%- include('partials/scentmatcher-section/quetion-page2.ejs') %>
    <% } else if (showPage3) { %>
      <%- include('partials/scentmatcher-section/quetion-page3.ejs') %>
    <% } else if (showPage4) { %>
      <%- include('partials/scentmatcher-section/scent-result.ejs') %>
    <% } else { %>
      <%- include('partials/scentmatcher-section/main-matcher.ejs') %>
    <% } %>
  </main>
</body>
</html>