<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="css/scent-matcher/scent-matcher.css">
    <link rel="stylesheet" href="css/scent-matcher/quetion-page1.css">
    <link rel="stylesheet" href="css/scent-matcher/quetion-page2.css">
    <link rel="stylesheet" href="css/scent-matcher/quetion-page3.css">
</head>
<body>
   <% if (!showPage8) { %>
    <%- include('partials/header-login.ejs') %>
  <% } %>

  <main>
    <% if (showPage5) { %>
      <%- include('partials/scent-matcher-login/q1-page.ejs') %>
    <% } else if (showPage6) { %>
      <%- include('partials/scent-matcher-login/q2-page.ejs') %>
    <% } else if (showPage7) { %>
      <%- include('partials/scent-matcher-login/q3-page.ejs') %>
    <% } else if (showPage8) { %>
      <%- include('scent-result-login.ejs') %>
    <% } else { %>
      <%- include('partials/scent-matcher-login/main-matcher-login.ejs') %>
    <% } %>
  </main>
</body>
</html>